<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= render 'home/main_items'  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  &ensp;
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <%= link_to "Challenges", challenges_path, class: "nav-item nav-link" %>
    </div>
    <div class="navbar-nav">
        <%= render 'devise/menu/admin_check' %>
    </div>
  </div>

  <ul style="padding-left: 3em;" class="nav navbar-nav navbar-right">
    <%= render 'devise/menu/registration_items' %>
    &ensp;
    <%= render 'devise/menu/login_items'%>
  </ul>  
</nav>
