<p id="notice"><%= notice %></p>
<h1>Code Challenge</h1>

<%= form_tag('/home/submit') do -%>
  <div class="form-group">
    <label for="language">Language</label>
    <%= select_tag(:language, options_for_select(['ruby', 'python'])) %>
  </div>
  <div class="form-group">
    <label for="code">Write Code</label>
    <%= text_area_tag 'code', nil, class: "form-control" %>
  </div>
  <div><%= submit_tag 'Evaluate', class: "btn btn-primary" %></div>
<% end -%>

