<style type="text/css" media="screen">
.ace_editor {
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 80%;
}
  .scrollmargin {
    height: 80px;
    text-align: center;
  }
</style>
<p id="notice"><%= notice %></p>
<h1>Code Challenge</h1>

<%= form_tag('/home/submit') do -%>
  <div class="form-group">
    <label for="language">Language</label>
    <%= select_tag(:language, options_for_select(['ruby', 'python'])) %>
  </div>
  <div class="form-group">
    <label for="code">Write Code</label>
    <div id="editor"></div>
    <%= hidden_field_tag 'code', nil %>
  </div>
  <div><%= submit_tag 'Evaluate', class: "btn btn-primary" %></div>
<% end -%>

