<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>

<h2>Problem Sets</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Problem</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @challenge.problem_sets.each do |problem_set| %>
      <tr>
        <th scope="row"><%= problem_set.arguments %></th>
        <td><%= link_to "Edit", edit_problem_set_path(problem_set) %></td>
        <td><%= link_to 'Delete', problem_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Problem Set', new_problem_set_path(challenge_id: @challenge.id) %>

<h2>Test it out</h2>
<style type="text/css" media="screen">
.ace_editor {
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 80%;
}
  .scrollmargin {
    height: 80px;
    text-align: center;
  }
</style>
<%= form_tag(challenge_submit_path(@challenge)) do -%>
  <div class="form-group">
    <label for="language">Language</label>
    <%= select_tag(:language, options_for_select(['ruby', 'python'])) %>
  </div>
  <div class="form-group">
    <label for="code">Write Code</label>
    <div id="editor"></div>
    <%= hidden_field_tag 'code', nil %>
  </div>
  <div><%= submit_tag 'Evaluate', class: "btn btn-primary" %></div>
<% end -%>
