<%= javascript_include_tag('challenges') %>



<% if current_user.admin? %>
  <h2>Problem Sets</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Problem</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @challenge.problem_sets.each do |problem_set| %>
        <tr>
          <th scope="row"><%= problem_set.arguments %></th>
          <td><%= link_to "Edit", edit_problem_set_path(problem_set) %></td>
          <td><%= link_to 'Delete', problem_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Problem Set', new_problem_set_path(challenge_id: @challenge.id) %>
<%end%>
<h2>Test it out</h2>

<style type="text/css" media="screen">
.ace_editor {
  border: 1px solid lightgray;
  float: left;
  margin: auto;
  height: 500px;
  width: 100%;
}
  .scrollmargin {
    height: 80px;
    text-align: center;
  }

 .pos {
   margin-top: 1%;
    margin-right: 20%;
  }

  .pageoverflow {
    background-color: lightblue;
    max-height: 550px !important;
    overflow-y: auto;
  }

  .title-pos {
    margin-left: 5%;
  }
</style>
<center><h1>Code Challenge</h1></center>

<div class="row">  
  <div class="col-sm-3">
      <div class="card-header">
      <center>
        <%= @challenge.name%>
        </center>
      </div>
      <div class="card box-shadow pageoverflow">
        <%= @challenge.description %>
      </div>
  </div>

  <div class="col-sm-9">
  <%= form_tag('/challenges/submit') do |stuff| -%>


    <div class="form-group">
      Write Code
      <label for="language", class="title-pos">Language</label>
      <%= select_tag(:language, options_for_select(['python', 'ruby'])) %>
    </div>

    <div class="form-group">
      <label for="code"></label>
      <div id="editor"></div>
      <%= hidden_field_tag :code, nil %>
    </div>

    <div>
      <%= hidden_field_tag :challenge_id, @challenge.id %>
      <%= submit_tag "Evaluate", class: "btn btn-primary ", remote: true, data: { disable_with: false }
 %>
      <%= button_to "Refresh Console", getoutput_challenges_path, class: "btn", id: "usrSubmit", remote: true%>
    </div>

    
  <% end -%>
  </div>

</div>


<textarea rows="4" cols="50" name="usrInput" id="usrInput">
Test
</textarea>

<textarea rows="4" cols="50" id="usrOutput">
Test
</textarea>

