<%= csrf_meta_tags %>
<%= javascript_include_tag('challenges') %>
<%= stylesheet_link_tag('challenges') %>



<% if current_user.admin? %>
  <h2>Problem Sets</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Problem</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @challenge.problem_sets.each do |problem_set| %>
        <tr>
          <th scope="row"><%= problem_set.arguments %></th>
          <td><%= link_to "Edit", edit_problem_set_path(problem_set, challenge_id: @challenge.id) %></td>
          <td><%= link_to 'Delete', problem_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Problem Set', new_problem_set_path(challenge_id: @challenge.id) %>
<%end%>

<center><h1>Code Challenge</h1></center>

<div class="row">  
  <div class="col-sm-3">
      <div class="card-header">
      <center>
        <%= @challenge.name%>
        </center>
      </div>
      <div class="card box-shadow pageoverflow">
        <%= @challenge.pdescription %>
      </div>
  </div>

  <div class="col-sm-9">
  <%= form_tag('/challenges/submit') do |stuff| -%>


    <div class="form-group">
      Write Code
      <label for="language", class="title-pos">Language</label>
      <%= select_tag(:language, options_for_select(['python'])) %>
    </div>
      <%= text_area_tag(:usrInput, "", cols: 120, rows: 1, placeholder: "Inputs here. Multiple inputs example: 1,20,40,60 without spaces in between commas " )  %>

    <div class="form-group">
      <label for="code"></label>
      <div id="editor"></div>
      <%= hidden_field_tag :code, nil %>
    </div>

    <div>
      <%= hidden_field_tag :challenge_id, @challenge.id %>
      <%= hidden_field_tag :problem_id, @givenproblem.id%>
      <%= submit_tag "Evaluate", class: "btn btn-primary ", remote: true, data: { disable_with: false }
 %>
    </div>
  <% end -%>
  <%= @user_result%>
  <%= button_to "Refresh Console", getoutput_challenges_path, class: "btn", id: "usrSubmit", remote: true%>
  <%= hidden_field_tag :user_id, @current_user %>
  <%= button_to "Submit", submit_score_challenges_path, class: "btn", remote: true%>

  </div>
</div>
<center>
<textarea rows="4" cols="79" id="usrOutput" placeholder="Output will generate here.">
</textarea>
</center>
