<!DOCTYPE html>
<html>
  <head>
      <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js') %>
    <%= javascript_include_tag('home') %>
    <%= csrf_meta_tags %>
    <title>CodeChallenge</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to("Home", home_index_path, class: "navebar-brand") %>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
<br>
<p>
<canvas id="canvas" width="400" height="300" style="border:1px solid #000000;">
  </canvas>
</p>
<p>
<button onclick="Square()">Square</button>
<button onclick="Circle()">Circle</button>



  </body>
</html>
